#multisite-wizard-process-form {
  
}

#multisite-wizard-process-form .item-list {
  
}

#multisite-wizard-process-form .item-list ul {
  list-style-type: lower-latin;
}

#multisite-wizard-process-form .item-list li {
  /* background: url("images/task-check.png") */
  padding: 0.5em 1em 0.5em 20px;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  color:#ADADAD;
}

#multisite-wizard-process-form .item-list li.done {
  background: url("images/task-check.png") no-repeat 0 50%;  
  color:green;
}

#multisite-wizard-process-form .item-list li.active {
  background: url("images/task-item.png") no-repeat scroll 3px 12px transparent;  
  color:#000;
}

#multisite-wizard-process-form .item-list li .hint {
  border: 1px solid #e00; 
  padding:10px;
  color:#e00;
  font-size: 12px;
  display:none;
}

#multisite-wizard-process-form .item-list li.active .hint {
  display: block;
}

#multisite-wizard-process-form table th.site_folder {
  width: 15%;
}

#multisite-wizard-process-form table th.prefix {
  width: 20%;
}

#multisite-wizard-process-form table th.tables {
  width: 20%;
}

#multisite-wizard-process-form table th.urls {
  
}